<section class="hero-quotes-app">
  <div class="container text-center">
    <h1 class="pico-color-zinc-50">Quotes App</h1>
    <p class="pico-color-zinc-100">Gerencie frases famosas na nossa plataforma.</p>
    <%= link_to "#{Quote.count} Frases cadastradas", quotes_path, role: 'button' %>
  </div>
</section>
